footer
    .brand
        img(src="images/logo.svg" alt="Yownes logo")
        span Yownes
    .legal-info
        .copyright
            div © 2017 Yownes. All Rights Reserved
        .tos
            div Privacy Policy
            div Terms of Service
